.name
{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
    
}
footer
{
    border-top: 2px solid black ;
    padding-top: 8px;
}


.navbar
{
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.head
{
    color:white;
    font-family: 'Hind', sans-serif;
    text-align: center;
    padding-top: 0px;
   
   
   
}
.padtop
{
    padding-top: 10%;
    
}

.content
{
    padding-top: 5%;
}
